/* HERO */

.hero {
  position: relative;
  background-color: white;
  display: inline-block;
  width: 100%;
  height: 100%;
  /* height: 200vh; */

  /* clip-path: circle(60vw at 48% -14vw); */
}

.hero .mainTitle {
  transform: translateY(-1.6vw) !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14vw;
  letter-spacing: -1vw;
}

.slogan {
  transform: translateY(-5vw) !important;
  display: flex;
  flex-direction: row;
}

.slogan span {
  width: 100%;
  margin: 0px 15px;
}

.slogan span:nth-child(2) {
  width: 120%;
}

.expertise {
  text-align: left;
  width: 55%;
  line-height: 25px;
}

.occupation {
  font-size: 3vw !important;
  line-height: 3.4vw;
}

.selected {
  text-align: right;
  line-height: 25px;
}

.slogan * {
  color: black;
  text-decoration: none;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
}

@media (min-width: 1000px) {

  /* Estilos para pantallas más grandes que 1000px */
  .hero .mainTitle {
    transform: translateY(-2.4vw) !important;
    font-size: 16.5vw;
    letter-spacing: -1vw;
  }

  .slogan {
    transform: translateY(-6vw) !important;
    font-size: 16px;
  }

  .selected {
    font-size: 16px;
  }

}

@media (max-width: 750px) {

  .hero .mainTitle {
    font-size: 16vw;
    transform: translateY(-1vw) !important;
  }

  .slogan {
    transform: translateY(-2vw) !important;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .slogan span:nth-child(1) p {
    /* Increased the vw value to 40vw */
    line-height: 19.5px;
  }

  .slogan span,
  .slogan p {
    text-align: center;
    align-self: center;
    width: 100%;
    padding-inline: 10%;
  }

  .slogan span:nth-child(2) {
    width: 100%;
  }

  .occupation {
    font-size: 6vw !important;
    line-height: 6vw;
  }
}

.gallery {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}