/* WORKS */

.about {
    background-color: white;
}

.about:not(:first-of-type) {
    border-top: 1px solid #C4C4C4;
}

.about .mainTitleAbout {
    margin-block: -1.2vw;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11vw;
    letter-spacing: -0.02em;
}

.about .description {
    padding: 2vw 34vw;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 3.1vw;
    line-height: 3.1vw;
    letter-spacing: -0.02em;
}

.pictureSection {
    display: flex;
    flex-direction: row;
}

.pictureSection>div {
    flex: 1;
}

.pictureSection>div:nth-of-type(2) {
    border-inline: 1px solid #C4C4C4;
}

.profilepic {
    width: 100%;
}

.story {
    padding: 20px 30px 50px 30px;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0.3px;
    font-weight: 400;
}

.about .hello {
    padding-top: 0.5vw;
    padding-bottom: 4vw;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11vw;
    letter-spacing: -0.02em;
}

.about.info {
    padding-block: 1vw;
}

.about.info * {
    font-family: "Wix Madefor Text";
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.about h5 {
    font-size: 16px;
}

.about h3 {
    font-size: 2.4vw;
}

@media (min-width: 1000px) {}

@media (max-width: 750px) {

    .about .description {
        font-size: 6.5vw;
        line-height: 6vw;
        padding: 3.5vw 16vw;
    }

    .pictureSection>div:nth-of-type(2) {
        flex: 3;
        border: none;
    }

    .story {
        padding: 20px 5px 50px 5px;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.3px;
    }

    .about.info {
        padding-block: 4vw !important;
    }

    .about .hello {
        padding-top: 0.5vw;
        padding-bottom: 35vw;
    }

    .about h5 {
        font-size: 14px;
    }

    .about h3 {
        font-size: 5vw;
    }
}