/* HEADER */

header {
  position: fixed;
  top: 0;
  /* Start at the top */
  width: 100%;
  max-height: 64px;
  background: black;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  z-index: 1000;
  border-bottom: 1px solid rgba(234, 234, 234, 0.7);
  transition: top 0.8s ease;
  /* Ensure smooth transition for top */
}

header span * {
  color: white;
  text-decoration: none;
  font-family: "Wix Madefor Text";
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

header span {
  margin: 20px 15px;
}

header span:nth-child(2n+1) {
  width: 100px;
}

header span ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

header span:nth-child(1) ul {
  justify-content: flex-start;
}

header span:nth-child(3) ul {
  justify-content: flex-end;
}

header span ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.name {
  display: flex;
  /* align-items: flex-start; */
}

.index_list {
  display: none;
}

.index_list li:hover {
  color: rgb(250, 133, 79);
}

.index_list li a {
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.hamburguer {
  height: 100%;
  padding: 20px;
  max-width: 100px;
  cursor: pointer;
}

header span:nth-child(2) {
  margin: 0 !important;
  flex-grow: 0;
}

header span li {
  list-style: none;
}

header .instaContainer {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente el contenido */
  align-items: center;
  /* Alinea verticalmente */
  gap: 8px;
  /* Espacio entre la imagen y el texto */
}

header .instaContainer a {
  display: flex;
  /* Esto asegura que el enlace también use flexbox */
  gap: 12px;
  align-items: center;
  /* Alinea el contenido del enlace verticalmente */
}

header .insta {
  width: 20px;
  height: auto;
  /* Asegura que mantenga la proporción de la imagen */
}

.menu.hidden {
  visibility: hidden;
  display: none;
}

.menu.shown {
  visibility: visible;
  display: inline-block;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
}

.menu>span {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 40%;
  right: 0;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 120px;

}

.menu .cross {
  display: flex;
  cursor: pointer;
}

.menu .cross img {
  width: 16px;
  aspect-ratio: 1/1;
  margin: auto;
  transition: all 0.3s ease;
}

.menu .cross img:hover {
  transform: rotate(90deg);
}

.menu a {
  font-size: 2.5vw;
  border-bottom: 1px solid rgba(164, 164, 164, 0.7);
  padding-block: 2vw;
}

.menu span:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 750px) {

  /* Estilos para pantallas más pequeñas que 750px */
  .menu {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 2000;
    background-color: white;
    height: 100vh;
    width: 100vw;
  }

  .menu>span {
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 120px;
  }

  .menu a {
    font-size: 8vw;
  }
}

@media (min-width: 1000px) {

  /* Estilos para pantallas más grandes que 1000px */
  .index_list {
    display: flex;
  }

  header span:nth-child(2) {
    margin: 20px 10px !important;
  }

  .hamburguer {
    display: none;
  }
}